# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
   
on post-fs-data

    # Modem related device nodes
    mkdir /data/nvram/md 0770 root nvram

    # insmod /system/lib/modules/ccci_plat.ko
    # insmod /system/lib/modules/ccci.ko

    # mknod /dev/ccci c 184 0
    mknod /dev/ccci_fs c 178 0
    mknod /dev/ccci_rpc c 178 1
    mknod /dev/ccci_sys_rx c 184 2
    mknod /dev/ccci_sys_tx c 184 3
    mknod /dev/ccci_pcm_rx c 184 4
    mknod /dev/ccci_pcm_tx c 184 5
    # mknod /dev/ccci_uart1_rx c 184 6
    # mknod /dev/ccci_uart1_rx_ack c 184 7
    mknod /dev/ccci_ipc_1220_0 c 183 0
    mknod /dev/ccci_uem_rx c 184 18
    mknod /dev/ccci_uem_tx c 184 19
    chmod 0660 /dev/ccci_uem_rx
    chmod 0660 /dev/ccci_uem_tx
    mknod /dev/ccci_md_log_rx c 184 42
    mknod /dev/ccci_md_log_tx c 184 43
    chmod 0660 /dev/ccci_md_log_rx
    chmod 0660 /dev/ccci_md_log_tx
    # chmod 0666 /dev/ccci
    chmod 0660 /dev/ccci_fs
    chmod 0660 /dev/ccci_rpc
    chmod 0660 /dev/ccci_pcm_rx
    chmod 0660 /dev/ccci_pcm_tx
    chmod 0660 /dev/ccci_sys_rx
    chmod 0660 /dev/ccci_sys_tx
    # chmod 0600 /dev/ccci_uart1_rx
    # chmod 0600 /dev/ccci_uart1_rx_ack
    chmod 0660 /dev/ttyC0
    chmod 0660 /dev/ttyC1
    chmod 0660 /dev/ttyC2
    chmod 0660 /dev/ccci_ipc_1220_0
    chown ccci ccci /dev/ccci_fs
    chown ccci ccci /dev/ccci_rpc
    chown ccci ccci /dev/ccci_sys_rx
    chown ccci ccci /dev/ccci_sys_tx
    chown ccci ccci /dev/ccci_pcm_rx
    chown ccci ccci /dev/ccci_pcm_tx
    chown ccci ccci /dev/ccci_uem_rx
    chown ccci ccci /dev/ccci_uem_tx
    chown ccci ccci /dev/ccci_ipc_1220_0
    chown ccci ccci /dev/ttyC0
    chown ccci ccci /dev/ttyC1
    chown ccci ccci /dev/ttyC2
    chown ccci ccci /dev/ccci_md_log_rx
    chown ccci ccci /dev/ccci_md_log_tx

    chown ccci ccci /sys/class/BOOT/BOOT/boot/md
    
service gsm0710muxd /system/bin/gsm0710muxd -s /dev/ttyC0 -f 512 -n 8 -m basic
    class core
    user root
    group radio cache inet misc ccci
    disabled

service muxreport-daemon /system/bin/muxreport
    class core
    user radio
    group radio cache inet misc ccci
    disabled
    oneshot

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild2 stream 660 root radio
    socket rild-debug stream 660 radio system
    socket rild-oem stream 660 radio system
    socket rild-mtk-ut stream 660 radio net_bt
    socket rild-mtk-ut-2 stream 660 radio net_bt
    socket rild-mtk-modem stream 660 radio system
#//<2014/4/28-rickjiau, implement AT command use on official build.
    socket rild-atci stream 660 radio system
    #socket rild-atci stream 660 root radio
#//>2014/4/28-rickjiau
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log ccci
    disabled

service ccci_fsd /system/bin/ccci_fsd
    user ccci
    group  nvram ccci system
    class core
    oneshot

service ccci_rpcd /system/bin/ccci_rpcd
    user ccci
    group nvram ccci system
    class core
    oneshot

service ccci_mdinit /system/bin/ccci_mdinit
    user system
    group nvram ccci system
    class core
    oneshot
