

on post-fs

## Custom pos-fs area (START)
# Please add custom fs operation below
#
# MT6620 related modules and character device nodes (Begin)
#

    #/dev/ttyMT2 for 6620_launcher
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

    # Turn on MT6620 by default
    chmod 0666 /sys/class/rfkill/rfkill0/state
    chown system system /sys/class/rfkill/rfkill0/state
    write sys/class/rfkill/rfkill0/state 1

    chmod 0660 /dev/ttyMT1
    chown system system /dev/ttyMT1

    # STP, WMT, GPS, FM and BT Driver
    insmod /system/lib/modules/mtk_wmt_detect.ko    
#    insmod /system/lib/modules/mtk_hif_sdio.ko
#    insmod /system/lib/modules/mtk_stp_wmt.ko
#   insmod /system/lib/modules/mtk_stp_uart.ko
#    insmod /system/lib/modules/mtk_stp_gps.ko
#    insmod /system/lib/modules/mtk_stp_bt.ko
#    insmod /system/lib/modules/mtk_fm_drv.ko
#    insmod /system/lib/modules/mtk_fm_priv.ko
#   insmod /system/lib/modules/mtk_wmt_wifi.ko

    # Create char device file for WMT, GPS, BT, FM, WIFI
    mknod /dev/stpwmt c 190 0;
    mknod /dev/stpgps c 191 0;
    mknod /dev/stpbt  c 192 0;
    mknod /dev/fm     c 193 0;
    chmod 0660 /dev/stpwmt
	chown system system /dev/stpwmt
 
    mknod /dev/wmtWifi c 153 0
    chmod 0666 /dev/wmtWifi
    # BT
    chmod 0660 /dev/stpbt
    # FM Radio device, FIXME: this is not a proper way to set permissions
    chmod 0666 /dev/fm
    # GPS
    chmod 0666 /dev/gps
    chmod 0660 /dev/stpgps

    # WiFi
#    mkdir /data/misc/wifi 0770 wifi wifi
#    mkdir /data/misc/wifi/sockets 0770 wifi wifi
#    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
#    mkdir /data/misc/dhcp 0770 dhcp dhcp
#    chown dhcp dhcp /data/misc/dhcp

    # Load WiFi Driver (factory mode application does the stuff)
    #insmod /system/lib/modules/wlan.ko

#
# MT6620 related modules and character device nodes (end)
#


on boot

#
# Connectivity related services (Begin)
#
service wmt_loader  /system/bin/logwrapper /system/bin/wmt_loader
    user root
    group root
    oneshot

service 662x_launcher /system/bin/logwrapper /system/bin/6620_launcher -b 4000000 -p /system/etc/firmware/ -d /dev/ttyMT2
    user system
    group system
    oneshot
 
#
# Connectivity related services (End)
#
#